[submodule "external/mahi-gui"]
	path = external/mahi-gui
	url = https://github.com/mahilab/mahi-gui.git
[submodule "fastdds_mocap"]
	path = fastdds_mocap
	url = https://github.com/sarath-menon/fastdds_mocap.git
[submodule "external/fastdds_mocap"]
	path = external/fastdds_mocap
	url = https://github.com/sarath-menon/fastdds_mocap.git
[submodule "external/PX4-Matrix"]
	path = external/PX4-Matrix
	url = https://github.com/PX4/PX4-Matrix.git
