[submodule "external/mahi-gui"]
	path = external/mahi-gui
	url = https://github.com/mahilab/mahi-gui.git
[submodule "fastdds_mocap"]
	path = fastdds_mocap
	url = https://github.com/sarath-menon/fastdds_mocap.git
